body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-section,
.camera-section,
.preview-section {
  margin: 20px;
  width: 100%;
  max-width: 500px; /* Increased max-width */
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type='file'],
input[type='text'] {
  padding: 10px;
  border: 2px solid #0c0b0c;
  border-radius: 5px;
  background: #fff;
  width: 400px; /* Ensure input takes full width of container */
  box-sizing: border-box; /* Include padding in the width */
}

input[type='text'] {
  font-size: 1rem;
  color: #333;
  max-width: 600px; /* Increased width */
}

.webcam {
  width: 100%;
  height: auto;
}

.capture-button,
.retake-button,
.use-image-button {
  margin: 10px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.capture-button:hover,
.retake-button:hover,
.use-image-button:hover {
  background: #0056b3;
}

.preview-image {
  max-width: 100%;
  height: auto;
  border: 2px solid #007bff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mirror {
  transform: scaleX(-1);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px; /* Fixed width for the modal */
  height: 200px; /* Fixed height for the modal */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
}

.loading-icon {
  width: 100px;
  height: auto;
}

.modal-text {
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: center; /* Center text horizontally */
}

.done-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.gradient-text {
  background: -webkit-linear-gradient(#e664a7, #e1adbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.upload-section,
.camera-section,
.preview-section {
  background: rgba(255, 255, 255, 0.6);
}
